* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: #9e9ca5;
}

#root {
   display: flex;
   flex-direction: column;
   align-items: center;

   height: 100vh;
}

.App {
   width: 80%;
}

.post {
   display: flex;
   padding: 15px;
   margin-top: 15px;
   justify-content: space-between;
   align-items: center;
   border-radius: 15px;
   background: #9e9ca5;
   box-shadow: inset 9px 9px 18px #646268,
      inset -9px -9px 18px #d8d6e2;

}

.post__btns {
   display: flex;
}

.post-enter {
   transform: translateX(-350px);
}

.post-enter-active {
   transform: translateX(0px);
   transition: all 500ms ease-in;
}

.post-exit {
   opacity: 1;
}

.post__content {
   border-radius: 20px;

}

.post__content div {
   border-radius: 20px;
   padding-left: 5px;
   color: cornsilk

}

.post__content strong {
   border-radius: 20px;
   padding-left: 5px;
   color: cornsilk


}

.post-exit-active {
   transform: translateX(-350px);
   transition: all 500ms ease-in;
}

.page__wrapper {
   margin-top: 30px;
   display: flex;
}

.page {
   padding: 10px;
   margin: 5px;
   color: wheat;
   border: 1px solid none;
   cursor: pointer;
   border-radius: 5px;
   background: #9e9ca5;
   box-shadow: 9px 9px 18px #646268,
      0px 0px 8px #d8d6e2;
}


.navbar {
   padding: 20px;
   width: 100vw;
   display: flex;
   align-items: center;
   border-radius: 15px;
   background: #9e9ca5;
   box-shadow: inset 9px 9px 18px #646268,
      inset -9px -9px 18px #d8d6e2;
}

.navbar__links {
   margin-left: auto;
}

.post-enter {
   transform: translateX(-350px);
}

.post-enter-active {
   transform: translateX(0px);
   transition: all 500ms ease-in;
}

.post-exit {
   opacity: 1;
}

.post-exit-active {
   transform: translateX(-350px);
   transition: all 500ms ease-in;
}

.page__wrapper {
   margin-top: 30px;
   display: flex;
   justify-content: center;
}


.page__current {
   border: 2px solid wheat;
   font-weight: bold;
   border-radius: 5px;
}


.navbar__links a {
   color: wheat;
   padding: 5px 15px;
   font-size: 14px;
   text-decoration: none;
   border-radius: 8px;
   background: #9e9ca5;
   box-shadow: 9px 9px 18px #646268,
      0px 0px 8px #d8d6e2;
}

/* Медиа запрос */

@media (max-width: 500px) {
   .post {
      display: flex;
      padding: 15px;
      border: none;
      margin-top: 15px;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
   }
   .page {
      padding: 7px;
   }
}