.myInput {
   width: 100%;
   padding: 5px 15px;
   margin: 5px;
   outline: none;
   border: none;
   border-radius: 3px;
   background: #9e9ca5;
   box-shadow: inset 2px 4px 18px #646268,
      inset -9px -40px 18px #d8d6e2;
}