.myBtn {
   padding: 5px 15px;
   color: wheat;
   font-size: 14px;
   background: transparent;
   cursor: pointer;
   border: none;
   margin: 3px;
   border-radius: 8px;
background: #9e9ca5;
box-shadow:  9px 9px 18px #646268,
             0px 0px 8px #d8d6e2;
}