.myModal {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: none;
   background: rgba(0, 0, 0, 0.5);
}

.myModalContent {
   padding: 25px;
   background-color: white;
   border-radius: 16px;
   min-width: 250px;
   background-color: #9e9ca5;
}


.myModal.active {
   display: flex;
   justify-content: center;
   align-items: center;
}